.panel-heading {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 16px;
  font-weight: bold;
}

.text-grid, .subst-symbol, textarea {
  font-family: monospace;
}
.text-grid {
  margin-top: 1em;
  position: relative;
  overflow: scroll;
}
.text-row, .text-col, .text-row-bg, .text-col-bg, .text-cell, .grid-sizer {
  position: absolute;
}
.text-row, .text-col {
  cursor: pointer;
}
.text-row-selected, .text-col-selected {
  background: #f00000;
}
.text-row-bg, .text-col-bg {
  background: #f0f0f0;
}
.text-cell-literal {
  background: #f8f8f8;
}
.text-cell-locked {
  background: #e0e0e0;
}
.text-cell {
  text-align: center;
}
.grid-sizer {
  width: 1px;
  height: 1px;
  background: transparent;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.subst-label, .subst-cell {
  vertical-align: top;
}
.subst-label {
  display: inline-block;
  width: 50px;
}
.subst-cell {
  display: inline-block;
  width: 14px;
}
.subst-symbol {
  white-space: pre;
}

.draggable {
  cursor: move;
}
